.isi-main
  .isi_wrapper
    .isi
      h2 USE and IMPORTANT SAFETY INFORMATION
      h3 USE
      p.mid-bottom SYNTHROID#[sup &reg] (levothyroxine sodium) tablets, for oral use is a prescription, man-made thyroid hormone that is used to treat a condition called hypothyroidism. It is meant to replace a hormone that is usually made by your thyroid gland. Generally, thyroid replacement treatment is to be taken for life. SYNTHROID should not be used to treat noncancerous growths or enlargement of the thyroid in patients with normal iodine levels, or in cases of temporary hypothyroidism caused by inflammation of the thyroid gland (thyroiditis).
      h3.no-bottom IMPORTANT SAFETY INFORMATION
      ul
        li.bold Thyroid hormones, including SYNTHROID, should not be used either alone or in combination with other drugs for the treatment of obesity or weight loss. In patients with normal thyroid levels, doses of SYNTHROID used daily for hormone replacement are not helpful for weight loss. Larger doses may result in serious or even life-threatening events, especially when used in combination with certain other drugs used to reduce appetite.
        li Do not use SYNTHROID if you have uncorrected adrenal problems.
        li Taking too much levothyroxine has been associated with increased bone loss, especially in women after menopause.
        li Once your doctor has found your specific SYNTHROID dose, it is important to have lab tests done, as ordered by your doctor, at least once a year.
        li Foods like soybean flour, cottonseed meal, walnuts, and dietary fiber may cause your body to absorb less SYNTHROID from the gastrointestinal tract. Grapefruit juice may cause your body to absorb less levothyroxine and may reduce its effect. Let your doctor know if you eat these foods, as your dose of SYNTHROID may need to be adjusted.
        li Use SYNTHROID only as ordered by your doctor. Take SYNTHROID as a single dose, preferably on an empty stomach, one-half to one hour before breakfast.
        li Products such as iron and calcium supplements and antacids can lower your body’s ability to absorb levothyroxine, so SYNTHROID should be taken 4 hours before or after taking these products.
        li Tell your doctor if you are pregnant or breastfeeding or are thinking of becoming pregnant while taking SYNTHROID. Your dose of SYNTHROID may need to be increased during your pregnancy.
        li It may take several weeks before you notice an improvement in your symptoms.
        li Tell your doctor if you are taking any other drugs, including prescription and over-the-counter products.
        li Tell your doctor about any other medical conditions you may have, especially heart disease, diabetes, blood clotting problems, and adrenal or pituitary gland problems. The dose of other drugs you may be taking to control these conditions may have to be changed while you are taking SYNTHROID. If you have diabetes, check your blood sugar levels and/or the glucose in your urine, as ordered by your doctor, and immediately tell your doctor if there are any changes. If you are taking blood thinners, your blood clotting status should be checked often.
        li Tell your doctor or dentist that you are taking SYNTHROID before any surgery.
        li Tell your doctor if you develop any of the following symptoms: rapid or abnormal heartbeat, chest pain, difficulty catching your breath, leg cramps, headache, nervousness, irritability, sleeplessness, shaking, change in appetite, weight gain or loss, vomiting, diarrhea, increased sweating, difficulty tolerating heat, fever, changes in menstrual periods, swollen red bumps on the skin (hives) or skin rash, or any other unusual medical event.
        li Partial hair loss may occur during the first few months you are taking SYNTHROID.
      p.bold This is the most important safety information you should know about SYNTHROID. For more information, talk with your doctor.
      p.bold #[a.urlIsi.pi-isi Click here for full Prescribing Information] or go to #[a.urlIsi.pdf-isi https://www.rxabbvie.com/pdf/synthroid.pdf].
      p You are encouraged to report negative side effects of prescription drugs to the FDA. Visit #[a.urlIsi.fda-isi www.fda.gov/medwatch] or call #[a(style="pointer-events:none;").urlIsi.no-underline 1-800-FDA-1088].
      p.bold If you are having difficulty paying for your medicine, AbbVie may be able to help. Visit #[a.urlIsi.abbvie-isi AbbVie.com/myAbbVieAssist] to learn more.
      .footer
        p ©2021 AbbVie Inc. North Chicago, IL 60064, U.S.A.#[br]US-SYNT-210099
