extends ../../../pug/layout
block title
  title SYTH21PTAP4483-Synthroid-Tracy-Banner
block metaSize
  meta(name="ad.size" content="width=300,height=250")

block content
  #wrapper.centered-layout
    #main-panel
      #main-exit.absolute-position
      img(src="images/300x250-synthroid-tracy-banner-bg-2x.jpg")#bg.absolute-position
      img(src="images/300x250-synthroid-tracy-banner-bg-gray.jpg")#bg02.absolute-position
      img(src="images/300x250-synthroid-tracy-banner-bio-2x.png")#bio.absolute-position
      img(src="images/300x250-synthroid-tracy-banner-circle-2x.png")#circle.absolute-position
      img(src="images/300x250-synthroid-tracy-banner-circle-2x.png")#smallCircle.absolute-position
      img(src="images/300x250-synthroid-tracy-banner-top-mark-2x.png")#topMark.absolute-position
      img(src="images/300x250-synthroid-tracy-banner-bottom-mark-2x.png")#bottomMark.absolute-position
      img(src="images/300x250-synthroid-tracy-banner-txt02-2x.png")#txt02.absolute-position
      img(src="images/300x250-synthroid-tracy-banner-txt01-2x.png")#txt01.absolute-position
      img(src="images/300x250-synthroid-tracy-banner-cta-2x.png")#cta.absolute-position
      include ../../../pug/isi/isi.pug
    #pi-panel
      img(src="images/300x250-synthroid-tracy-banner-logo-2x.png")#logo.absolute-position
      a
        img(src="images/300x250-synthroid-tracy-banner-pi-2x.png").pi
