doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    block title
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="css/styles.css")
    block metaSize
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js")
    script(type="text/javascript").
      var clickTag1 = "https://www.synthroid.com/starting/videos";
      var clickTag2 = "https://www.rxabbvie.com/pdf/synthroid.pdf";
      var clickTag3 = "https://www.rxabbvie.com/pdf/synthroid.pdf";
      var clickTag4 = "https://www.rxabbvie.com/pdf/synthroid.pdf";
      var clickTag5 = "https://www.fda.gov/safety/medwatch-fda-safety-information-and-adverse-event-reporting-program";
      var clickTag6 = "https://AbbVie.com/myAbbVieAssist";
  body.loading
    .preloader
      div
      div
    block content
    script(src="https://s0.2mdn.net/ads/studio/cached_libs/cssplugin_1.20.4_5c12878a0fe9f741c5b72eb26497a737_min.js")
    script(src="https://s0.2mdn.net/ads/studio/cached_libs/tweenlite_1.20.4_42916b5332cef8519c5950778ee2e41d_min.js")
    script(src="https://s0.2mdn.net/ads/studio/cached_libs/timelinemax_1.20.4_9578d7e776129679d749ddee3541bbce_min.js")
    script(src="https://s0.2mdn.net/ads/studio/cached_libs/easepack_1.20.4_7e44068dd65b1e3f82dec52f780163c8_min.js")
    script(src="js/main.js")