$banner-width: 300px;
$banner-height: 250px;
@import "../../../styles/main";
#wrapper {
  transition: 0.3s;
  border: 1px solid #000000;
  .absolute-position {
    position: absolute;
  }
  // main banner styles
  #main-panel {
    background-color: $primary-color;
    height: $banner-height;
    width: $banner-width;

    #main-exit {
      width: $banner-width;
      height: 146px;
      z-index: 10;
    }

    #bg {
      width: 508px;
      height: 257px;
      top: -12px;
      left: -47px;
    }

    #bg02 {
      width: 300px;
      height: 154px;
      top: 0;
      left: 0;
      opacity: 0;
    }

    #bio {
      width: 178px;
      height: 35px;
      bottom: 113px;
      left: 61px;
      // clip: rect(0px, 214px, 39px, 214px)
    }

    #circle {
      width: 250px;
      height: auto;
      top: -46px;
      left: 24px;
    }

    #smallCircle {
      width: 210px;
      height: auto;
      top: -116px;
      left: 99px;
    }

    #topMark {
      width: 36px;
      height: auto;
      top: 9px;
      left: 11px;
    }

    #bottomMark {
      width: 36px;
      height: auto;
      top: 116px;
      left: 248px;
    }

    #txt01 {
      width: 220px;
      height: auto;
      top: 39px;
      left: 38px;
      opacity: 0;
    }

    #txt02 {
      width: 130px;
      height: auto;
      top: 11px;
      left: 140px;
      opacity: 0;
    }

    #cta {
      width: 168px;
      height: auto;
      top: 101px;
      left: 121px;
    }
  }
  // Pi
  #pi-panel {
    position: absolute;
    width: 300px;
    height: 36px;
    left: 0;
    top: 146px;
    background-color: #ffffff;
    display: block;
    text-align: left;

    #logo {
      width: 160px;
      height: auto;
      top: 2px;
      left: 8px;
    }

    .pi {
      width: 112px;
      height: auto;
      &:hover {
        cursor: pointer;
      }
    }

    a{
      width: 112px;
      height: 22px;
      top: 10px;
      left: 180px;
      position: absolute;
    }
  }
}

// ISI styles
.isi-main {
  width: 100%;
  height: 66px;
  background-color: #fff;
  left: 0px;
  top: 182px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  z-index: 0;
  * {
    pointer-events: all;
  }
}

.iframePreview {
  transition: 0.3s;
}

.isi_wrapper {
  background-color: #fff;
  height: 66px;
  width: 100%;
  display: block;
  z-index: 3000;
  overflow: hidden;
  transition: 0.3s;
}

.iScrollVerticalScrollbar {
  background-color: #f68c6a;
  top: 3px !important;
  right: 7px !important;
  height: 78% !important;
  width: 3px !important;
  position: absolute;
  z-index: 9999;
  overflow: visible !important;
  border-radius: 25px;
}

.iScrollIndicator {
  width: 3px !important;
  height: 6px !important;
  margin-top: 0;
  right: 0 !important;
  position: absolute;
  background: #4d4d4d;
  cursor: pointer;
  display: block !important;
  border-radius: 25px;
}

.isi {
  background-color: #fff;
  width: 280px;
  padding: 3px 0 2px 10px;

  h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #ffffff;
    background-color: #f68c6a;
    padding: 2px 8px;
    margin: 0 0 10px;
  }

  h3 {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #f68c6a;
    margin: 0 0 3px;
  }

  sup {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 7px;
    top: -3px;
  }

  p {
    font-size: 11px;
    font-family: Helvetica, sans-serif;
    color: #425563;
    margin: 0 0 8px 0;
  }

  .bold {
    font-weight: bold;
  }

  .no-bottom {
    margin-bottom: 0;
  }

  .mid-bottom {
    margin-bottom: 16px;
  }

  .no-underline {
    text-decoration: none;
  }

  ul {
    width: 280px;
    top: 0px;
    left: -30px;
    margin: 2px 0 12px;
    list-style: none;

    li {
      font-size: 11px;
      font-family: Helvetica, sans-serif;
      line-height: 12px;
      color: #565656;
      padding-bottom: 5px;
    }
  }

  ul li::before {
    content: "•";
    color: #425563;
    font-weight: bold;
    display: inline-block;
    top: 3px;
    width: 1em;
    font-size: 18px;
    padding-left: 8px;
    margin-left: -1em;
  }

  .footer {
    position: relative;
    p {
      font-size: 11px;
    }
  }

  .urlIsi {
    color: #f68c6a;
    font-size: 11px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-decoration: underline;

    &.no-underline {
      text-decoration: none;

      &:hover {
        cursor: auto;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// Extend style for ISI clone
#isi-clone {
  @extend .isi;
  &.uat {
    left: 400px;
    top: 0;
    .legal-section {
      height: auto;
      width: 318px;
    }
  }
}
